<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0"><i class="fas fa-user-tag"></i> User</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div
              class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-xl-left text-lg-left text-md-center text-sm-center text-center mt-2"
            >
              <div class="overflow-scroll text-nowrap">
                <div class="d-inline-block mr-2">
                  <button
                    class="btn btn-icon btn-outline-primary"
                    type="button"
                    [routerLink]="['create']"
                  >
                    <span class="btn-inner--icon">
                      <i class="fa fas fa-plus"></i>
                    </span>
                  </button>
                </div>

                <div class="d-inline-block mr-2">
                  <button
                    class="btn btn-icon btn-outline-primary"
                    type="button"
                    (click)="getAll()"
                  >
                    <span class="btn-inner--icon">
                      <i class="fa fas fa-redo"></i>
                    </span>
                  </button>
                </div>

                <div ngbDropdown class="d-inline-block">
                  <button
                    class="btn btn-icon btn-outline-primary"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    <span class="btn-inner--icon">
                      <i class="fa fas fa-toggle-on"></i>
                    </span>
                  </button>
                  <div
                    ngbDropdownMenu
                    aria-labelledby="dropdownBasic1"
                    class="pt-3 px-3"
                  >
                    <form [formGroup]="visibleFieldForm">
                      <div
                        class="custom-control custom-checkbox mb-3"
                        *ngFor="
                          let visibleField of visibleFields;
                          let i = index
                        "
                      >
                        <input
                          class="custom-control-input"
                          [id]="'customCheck' + i"
                          type="checkbox"
                          [formControlName]="visibleField?.name"
                          (change)="onVisibilityChange()"
                        />
                        <label
                          class="custom-control-label"
                          [for]="'customCheck' + i"
                          >{{ visibleField?.display_name }}</label
                        >
                      </div>
                    </form>
                  </div>
                </div>

                <!-- <div class="d-inline-block mr-2">
                                    <button class="btn btn-icon btn-outline-primary"
                                            btn-sm
                                            type="button">
                                        <span class="btn-inner--icon"><i class="fa fas fa-filter"></i></span>
                                    </button>
                                </div> -->
                <!-- <div ngbDropdown class="d-inline-block mr-2">
                                    <button class="btn btn-icon btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                        <span class="btn-inner--icon"><i class="fa fas fa-ellipsis-h"></i></span>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem class="pointer" (click)="open(content)">
                                            <i class="fas fa-file-excel"></i>
                                            Import Excel
                                        </button>
                                        <button ngbDropdownItem
                                                class="pointer">
                                            <i class="fas fa-file-excel"></i>
                                            Export Excel
                                        </button>
                                        <button ngbDropdownItem
                                                class="pointer">
                                            <i class="fas fa-file-pdf"></i>
                                            Export PDF
                                        </button>
                                    </div>
                                </div> -->
              </div>
            </div>

            <div
              class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-xl-right text-lg-right text-md-center text-sm-center text-center mt-2"
            >
              <form
                [formGroup]="searchForm"
                (submit)="getAll()"
                class="navbar-search navbar-search-light form-inline mr-3 ml-lg-auto justify-content-lg-end justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center"
              >
                <div class="form-group mb-0">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-search"></i
                      ></span>
                    </div>
                    <input
                      formControlName="keyword"
                      class="form-control"
                      placeholder="Search User"
                      type="text"
                    />
                  </div>
                </div>
              </form>
            </div>

            <div class="col-12 mt-4">
              <div class="item">
                <ngx-skeleton-loader count="10" *ngIf="showLoader">
                </ngx-skeleton-loader>
              </div>
            </div>

            <div class="col-12 mt-4" *ngIf="!showLoader">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th
                        scope="col"
                        class="pointer"
                        *ngFor="let visibleField of visibleFields"
                        [hidden]="
                          !this.visibleFieldForm.controls[visibleField?.name]
                            .value
                        "
                        [ngClass]="{
                          'text-primary': orderBy == visibleField?.name
                        }"
                        (click)="toggleOrder(visibleField?.name)"
                      >
                        {{ visibleField?.display_name }}

                        <i
                          class="fas fa-chevron-up"
                          *ngIf="
                            orderBy == visibleField?.name && orderType == 'desc'
                          "
                        ></i>

                        <i
                          class="fas fa-chevron-down"
                          *ngIf="
                            orderBy == visibleField?.name && orderType == 'asc'
                          "
                        ></i>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items">
                      <td
                        *ngFor="let visibleField of visibleFields"
                        [hidden]="
                          !this.visibleFieldForm.controls[visibleField?.name]
                            .value
                        "
                      >
                        {{ item[visibleField?.name] }}
                      </td>

                      <td class="text-right">
                        <button
                          type="button"
                          class="btn btn-with-icon btn-outline-info btn-sm"
                          [routerLink]="[item?.id, 'detail']"
                        >
                          <span class="btn-inner--icon mr-2">
                            <i class="fa fas fa-search"></i>
                          </span>
                          <span class="btn-inner--text">Detail</span>
                        </button>

                        <button
                          type="button"
                          class="btn btn-with-icon btn-outline-default btn-sm"
                          [routerLink]="[item?.id, 'update']"
                        >
                          <span class="btn-inner--icon mr-2">
                            <i class="fa fas fa-edit"></i>
                          </span>
                          <span class="btn-inner--text">Edit</span>
                        </button>

                        <button
                          type="button"
                          class="btn btn-with-icon btn-outline-danger btn-sm"
                          (click)="onDelete(item?.id)"
                        >
                          <span class="btn-inner--icon mr-2">
                            <i class="fa fas fa-trash"></i>
                          </span>
                          <span class="btn-inner--text">Delete</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="row">
            <div
              class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-xl-left text-lg-left text-md-center text-sm-center text-center mt-2"
            >
              <p *ngIf="!showLoader">
                Menampilkan {{ pageable?.from }} hingga {{ pageable?.to }} dari
                {{ pageable?.total }} data
              </p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2">
              <nav>
                <ul
                  class="pagination justify-content-lg-end justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center"
                >
                  <li
                    class="page-item"
                    [ngClass]="pageable?.currentPage === 1 ? 'disabled' : ''"
                  >
                    <a class="page-link" (click)="goToFirstPage()">
                      <i class="fas fa-angle-double-left"></i>
                      <span class="sr-only">First</span>
                    </a>
                  </li>
                  <li
                    class="page-item"
                    [ngClass]="pageable?.currentPage === 1 ? 'disabled' : ''"
                  >
                    <a class="page-link" (click)="goToPreviousPage()">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item my-auto">
                    <input
                      type="text"
                      [(ngModel)]="pageable.currentPage"
                      (change)="goCustom(pageable.currentPage)"
                      class="form-control form-control-sm my-auto text-center extreme-rounded"
                      style="width: 80px"
                    />
                  </li>
                  <li
                    class="page-item"
                    [ngClass]="
                      pageable?.currentPage >= pageable?.lastPage
                        ? 'disabled'
                        : ''
                    "
                  >
                    <a class="page-link" (click)="goToNextPage()">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li
                    class="page-item"
                    [ngClass]="
                      pageable?.currentPage >= pageable?.lastPage
                        ? 'disabled'
                        : ''
                    "
                  >
                    <a class="page-link" (click)="goToLastPage()">
                      <i class="fas fa-angle-double-right"></i>
                      <span class="sr-only">Last</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Import Excel</h5>
  </div>
  <div class="modal-body text-center" *ngIf="importProgress > 0">
    <ngb-progressbar
      *ngIf="importProgress > 0"
      type="success"
      [value]="importProgress"
    >
    </ngb-progressbar>
  </div>
  <div class="modal-body" *ngIf="importProgress < 1 && importFilePath">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h4 class="my-auto">
              <i class="fas fa-file-excel mr-4"></i> {{ importFilePath }}
            </h4>
          </div>
          <div class="col-2 text-right">
            <i
              class="fas fa-times my-auto text-danger pointer"
              (click)="onDeleteImportFile()"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-success float-right"
      (click)="onImportExcel()"
    >
      <span class="btn-inner--text">Import Data</span>
    </button>
  </div>
  <div
    class="modal-body text-center"
    *ngIf="importProgress < 1 && !importFilePath"
  >
    <p>Unduh format excel dibawah ini sebelum melakukan import data</p>

    <a
      class="btn btn-outline-success text-success btn-icon"
      [href]="env?.SERVER_URL + 'template-excel/KOMUNITAS-IMPORT-USER.xlsx'"
      target="_blank"
      download
    >
      <span class="btn-inner--icon">
        <i class="fa fas fa-file-download"></i>
      </span>
      <span class="btn-inner--text">Download Format Excel</span>
    </a>

    <hr />

    <p>Upload file sesuai dengan format yang telah diunduh</p>

    <input
      #importFileInput
      type="file"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      style="display: none"
      (change)="uploadFile($event)"
    />

    <button
      type="button"
      class="btn btn-success btn-icon"
      (click)="importFileInput.click()"
    >
      <span class="btn-inner--icon">
        <i class="fa fas fa-file-upload"></i>
      </span>
      <span class="btn-inner--text">Upload</span>
    </button>
  </div>
</ng-template>
