<form [formGroup]="form"
      (submit)="onSubmit()">

    <div class="card shadow">
        <div class="card-header bg-transparent">
            <h3 class="mb-0">
                <i [class]="menu?.icon"></i>
                {{ isUpdate ? 'Update' : 'Create' }} {{ menu?.display_name }}
            </h3>
        </div>
        <div class="card-body">

            <div class="row-fluid">
                <div class="col-12">
                    <div class="d-flex">
                        <i class="fas fa-quote-right fa-2x text-muted"></i>
                        <div class="px-3 w-100">
                            <h2>
                                <b>Basic Info</b>
                            </h2>

                            <div class="row-fluid mt-3">


                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-0">
                                    <div class="row-fluid">

                                        <div class="col-12 p-0 mb-2">
                                            <div class="form-group">
                                                <label class="form-control-label">Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       formControlName="name">
                                            </div>
                                        </div>

                                        <div class="col-12 p-0 mb-2">
                                            <div class="form-group">
                                                <label class="form-control-label">Bio</label>
                                                <textarea formControlName="bio"
                                                          cols="30"
                                                          rows="6"
                                                          class="form-control"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-12 p-0 mb-2">

                                            <input #photoInput
                                                   type="file"
                                                   accept="image/*"
                                                   style="display: none;"
                                                   (change)="onPhotoChange($event, 'logo')">

                                            <div class="form-group">
                                                <label class="form-control-label">Logo</label>
                                                <div class="dashed rounded img-container smooth-border pointer wh-150-px"
                                                     (click)="photoInput.click()">
                                                    <img [src]="(logoPreview) ? logoPreview : env?.SERVER_URL + 'files/' + form?.value?.logo"
                                                         onerror="this.src = './assets/img/no-picture.svg'"
                                                         class="w-100 my-auto">
                                                </div>

                                                <div class="w-100 mt-2"
                                                     *ngIf="logoUploadProgress">
                                                    <ngb-progressbar class="ngb-progress-150-px"
                                                                     type="primary"
                                                                     textType="white"
                                                                     [value]="logoUploadProgress"
                                                                     [showValue]="true">
                                                    </ngb-progressbar>
                                                </div>

                                                <div class="w-100 mt-2"
                                                     *ngIf="!logoUploadProgress">

                                                    <button type="button"
                                                            class="btn btn-outline-danger btn-sm w-150-px"
                                                            *ngIf="form?.value?.logo || logoPreview"
                                                            (click)="onDeletePhoto('logo')">
                                                        <i class="fas fa-trash"></i>
                                                        <span>Hapus</span>
                                                    </button>

                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label appFormError>Privacy</label>
                                            <div class="form-group"
                                                 [ngClass]="{
                                                     'has-success': form?.controls?.privacy?.errors?.length < 1,
                                                     'has-danger': form?.controls?.privacy?.errors
                                                    }">

                                                <div
                                                     class="custom-control custom-control-alternative custom-radio mb-3">
                                                    <input formControlName="privacy"
                                                           class="custom-control-input"
                                                           id="radioPublic"
                                                           value="public"
                                                           type="radio">
                                                    <label class="custom-control-label"
                                                           for="radioPublic">Public</label>
                                                </div>
                                                <div
                                                     class="custom-control custom-control-alternative custom-radio mb-3">
                                                    <input formControlName="privacy"
                                                           class="custom-control-input"
                                                           id="radioPrivate"
                                                           value="private"
                                                           type="radio">
                                                    <label class="custom-control-label"
                                                           for="radioPrivate">Private</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 p-0 mb-2">
                                            <div class="form-group">
                                                <label class="form-control-label">Verification</label>
                                                <div class="custom-control custom-checkbox mb-3">
                                                    <input formControlName="is_verified"
                                                           class="custom-control-input"
                                                           id="customCheck2"
                                                           type="checkbox"
                                                           checked="">
                                                    <label class="custom-control-label"
                                                           for="customCheck2">Verified</label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>


        </div>

        <div class="card-footer text-right">
            <button class="btn btn-primary"
                    type="button"
                    (click)="onSubmit()"
                    [disabled]="!form?.valid">
                Submit
            </button>
        </div>

    </div>

</form>
