<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">
                        <i [class]="menu?.icon"></i> {{ menu?.display_name }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-xl-left text-lg-left text-md-center text-sm-center text-center mt-2">
                            <div class="overflow-scroll text-nowrap">
                                <div class="d-inline-block mr-2">
                                    <button class="btn btn-icon btn-outline-primary" type="button" [routerLink]="['create']">
                                        <span class="btn-inner--icon"><i class="fa fas fa-plus"></i></span>
                                        <span class="btn-inner--text d-xl-inline d-lg-none d-md-none d-sm-none d-none">
                                            Create Komunitas
                                        </span>
                                    </button>
                                </div>

                                <div class="d-inline-block mr-2">
                                    <button class="btn btn-icon btn-outline-primary" type="button" (click)="getAll()">
                                        <span class="btn-inner--icon"><i class="fa fas fa-redo"></i></span>
                                        <span class="btn-inner--text d-xl-inline d-lg-none d-md-none d-sm-none d-none">
                                            Refresh
                                        </span>
                                    </button>
                                </div>

                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-icon btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                        <span class="btn-inner--icon"><i class="fa fas fa-toggle-on"></i></span>
                                        <span class="btn-inner--text d-xl-inline d-lg-none d-md-none d-sm-none d-none">
                                            Visibilitas
                                        </span>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="pt-3 px-3">
                                        <form [formGroup]="visibleFieldForm">
                                            <div class="custom-control custom-checkbox mb-3" *ngFor="let visibleField of visibleFields; let i = index">
                                                <input class="custom-control-input" [id]="'customCheck' + i" type="checkbox" [formControlName]="visibleField?.name" (change)="onVisibilityChange()">
                                                <label class="custom-control-label" [for]="'customCheck' + i">{{ visibleField?.display_name }}</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- <div class="d-inline-block mr-2">
                        <button class="btn btn-icon btn-outline-primary"
                                btn-sm
                                type="button">
                            <span class="btn-inner--icon"><i class="fa fas fa-filter"></i></span>
                            <span class="btn-inner--text">Filter</span>
                        </button>
                    </div>
                    <div ngbDropdown
                         class="d-inline-block mr-2">
                        <button class="btn btn-icon btn-outline-primary"
                                id="dropdownBasic1"
                                ngbDropdownToggle>
                            <span class="btn-inner--icon"><i class="fa fas fa-ellipsis-h"></i></span>
                        </button>
                        <div ngbDropdownMenu
                             aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem
                                    class="pointer">
                                <i class="fas fa-file-excel"></i>
                                Excel
                            </button>
                            <button ngbDropdownItem
                                    class="pointer">
                                <i class="fas fa-file-pdf"></i>
                                PDF
                            </button>
                        </div>
                    </div> -->

                            </div>

                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-xl-right text-lg-right text-md-center text-sm-center text-center mt-2">

                            <form [formGroup]="searchForm" (submit)="getAll()" class="navbar-search navbar-search-light form-inline mr-3 ml-lg-auto justify-content-lg-end justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center">
                                <div class="form-group mb-0">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </div>
                                        <input formControlName="keyword" class="form-control" placeholder="Pencarian Komunitas" type="text">
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-12 mt-4">
                            <div class="item">
                                <ngx-skeleton-loader count="10" *ngIf="showLoader">
                                </ngx-skeleton-loader>
                            </div>
                        </div>

                        <div class="col-12 mt-4" *ngIf="!showLoader">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="pointer" *ngFor="let visibleField of visibleFields" [hidden]="!this.visibleFieldForm.controls[visibleField?.name].value" [ngClass]="{'text-primary': orderBy == visibleField?.name}" (click)="toggleOrder(visibleField?.name)">

                                                {{ visibleField?.display_name }}

                                                <i class="fas fa-chevron-up" *ngIf="orderBy == visibleField?.name && orderType == 'desc'"></i>

                                                <i class="fas fa-chevron-down" *ngIf="orderBy == visibleField?.name && orderType == 'asc'"></i>

                                            </th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items">

                                            <td *ngFor="let visibleField of visibleFields" [hidden]="!this.visibleFieldForm.controls[visibleField?.name].value" style="white-space: break-spaces;">
                                                <span>{{ item[visibleField?.name] }}</span>
                                            </td>
                                            <td class="text-right">
                                                <button (click)="setDefault(item.id, 'official')" *ngIf="item.type === 'private'" type="button" class="btn btn-with-icon btn-outline-success btn-sm">
                                                    <span class="btn-inner--icon mr-2">
                                                        <i class="far fa-star"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Jadikan Official</span>
                                                </button>
                                                <button (click)="setDefault(item.id, 'unofficial')" *ngIf="item.type !== 'private'" type="button" class="btn btn-with-icon btn-success btn-sm">
                                                    <span class="btn-inner--text">Official Komunitas</span>
                                                </button>

                                                <button (click)="setDefault(item.id, 'default')" *ngIf="item.type === 'private'" type="button" class="btn btn-with-icon btn-outline-primary btn-sm">
                                                    <span class="btn-inner--icon mr-2">
                                                        <i class="far fa-bookmark"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Jadikan Default</span>
                                                </button>
                                                <button (click)="setDefault(item.id, 'undefault')" *ngIf="item.type !== 'private'" type="button" class="btn btn-with-icon btn-primary btn-sm">
                                                    <span class="btn-inner--text">Komunitas Default</span>
                                                </button>

                                                <button type="button" class="btn btn-with-icon btn-outline-info btn-sm" [routerLink]="[item?.id, 'detail']">
                                                    <span class="btn-inner--icon mr-2">
                                                        <i class="fa fas fa-search"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Detail</span>
                                                </button>

                                                <button type="button" class="btn btn-with-icon btn-outline-default btn-sm" [routerLink]="[item?.id, 'update']">
                                                    <span class="btn-inner--icon mr-2">
                                                        <i class="fa fas fa-edit"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Edit</span>
                                                </button>

                                                <button type="button" class="btn btn-with-icon btn-outline-danger btn-sm" (click)="onDelete(item?.id)">
                                                    <span class="btn-inner--icon mr-2">
                                                        <i class="fa fas fa-trash"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Delete</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">

                    <div class="row">

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-xl-left text-lg-left text-md-center text-sm-center text-center mt-2">
                            <p *ngIf="!showLoader">
                                Menampilkan {{ pageable?.from }} hingga {{ pageable?.to }} dari {{ pageable?.total }} data
                            </p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-2">
                            <nav>
                                <ul class="pagination justify-content-lg-end justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center">
                                    <li class="page-item" [ngClass]="pageable?.currentPage === 1 ? 'disabled' : ''">
                                        <a class="page-link" (click)="goToFirstPage()">
                                            <i class="fas fa-angle-double-left"></i>
                                            <span class="sr-only">First</span>
                                        </a>
                                    </li>
                                    <li class="page-item" [ngClass]="pageable?.currentPage === 1 ? 'disabled' : ''">
                                        <a class="page-link" (click)="goToPreviousPage()">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item my-auto">
                                        <input type="text" [(ngModel)]="pageable.currentPage" (change)="goCustom(pageable.currentPage)" class="form-control form-control-sm my-auto text-center extreme-rounded" style="width: 80px;">
                                    </li>
                                    <li class="page-item" [ngClass]="pageable?.currentPage >= pageable?.lastPage ? 'disabled' : ''">
                                        <a class="page-link" (click)="goToNextPage()">
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    <li class="page-item" [ngClass]="pageable?.currentPage >= pageable?.lastPage ? 'disabled' : ''">
                                        <a class="page-link" (click)="goToLastPage()">
                                            <i class="fas fa-angle-double-right"></i>
                                            <span class="sr-only">Last</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>