<!-- Page content -->
<div class="container mt--9">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-2">
          <img
            (click)="zoomImg(data?.photo, imgModal)"
            class="img-fluid img-community"
            [src]="env?.SERVER_URL + 'files/' + data?.photo"
            onerror="this.src = './assets/img/no-picture.svg'"
            [alt]="data?.name"
          />
        </div>
        <div class="col-lg-9 col-md-10">
          <h3 class="display-3">{{ data?.name }}</h3>
          <div class="card-profile-stats d-flex p-0">
            <div class="pl-0">
              <span class="heading"
                >{{ data?.members_count }}
                <span class="font-weight-light text-capitalize"> Anggota</span>
              </span>
            </div>
            <div class="pl-0">
              <span class="heading"
                >{{ data?.events_count }}
                <span class="font-weight-light text-capitalize"> Acara</span>
              </span>
            </div>
            <div class="pl-0">
              <span class="heading"
                >{{ data?.job_vacancies_count }}
                <span class="font-weight-light text-capitalize">
                  Karir & Bisnis</span
                >
              </span>
            </div>
            <div class="ml-auto mr-2 p-0">
              <span class="heading">
                <a
                  routerLink="../update"
                  class="btn no-shadow btn-neutral btn-md text-warning border-warning"
                  >Ubah</a
                >
              </span>
            </div>
            <div class="p-0 mr-0">
              <span class="heading">
                <a
                  href="#!"
                  class="btn no-shadow btn-neutral btn-md text-danger border-danger"
                  >Hapus</a
                >
              </span>
            </div>
          </div>
          <p *ngIf="data?.description" class="mt-0">
            {{
              data?.description
                ? data?.description
                : "Tidak ada deskripsi untuk Komunitas ini"
            }}
          </p>
          <p *ngIf="!data?.description" class="mt-0 italic">
            Tidak ada deskripsi untuk Komunitas ini<br /><br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-12 pr-0">
      <div *ngIf="view === 'thread'" class="card">
        <div class="card-header d-flex align-items-center">
          <div class="d-flex align-items-center">
            <img
              (click)="zoomImg(showThread?.user?.photo, imgModal)"
              [src]="env?.SERVER_URL + 'files/' + showThread?.user?.photoThumb"
              onerror="this.src = './assets/img/no-picture.svg'"
              [alt]="showThread?.user?.name"
              class="avatar"
            />
            <div class="mx-3">
              <a href="#" class="text-dark font-weight-600 text-sm">{{
                showThread?.user?.name
              }}</a>
              <small class="d-block text-muted">{{
                showThread?.created_at | amParseZone | amTimeAgo
              }}</small>
            </div>
          </div>
          <div class="text-right ml-auto">
            <button
              (click)="deleteThread(showThread?.contentType, showThread?.id)"
              type="button"
              class="btn btn-lg btn-link btn-icon text-muted"
            >
              <span class="btn-inner--icon"
                ><i class="far fa-trash-alt"></i
              ></span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col ml--2">
              <h4 class="mb-0">
                <a href="#!">{{ showThread?.title }}</a>
              </h4>
              <p class="text-sm text-muted mb-0">{{ showThread?.caption }}</p>
            </div>
            <div class="col-auto">
              <label class="custom-toggle">
                <input
                  (change)="updateAvailabilityThread()"
                  type="checkbox"
                  [checked]="showThread?.isAvailable"
                />
                <span class="custom-toggle-slider rounded-circle"></span>
              </label>
            </div>
          </div>
          <div>
            <ul class="list-group list-group-flush list">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <img
                      (click)="zoomImg(showThread?.coverPhoto, imgModal)"
                      [src]="
                        env?.SERVER_URL + 'files/' + showThread?.coverPhoto
                      "
                      onerror="this.src = './assets/img/no-picture.svg'"
                      [alt]="showThread?.title"
                      class="avatar avatar-xl rounded"
                    />
                  </div>
                  <div class="col">
                    <small>Dibuat:</small>
                    <h5 class="mb-0">
                      {{ showThread?.created_at | amParseZone | amTimeAgo }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Diubah:</small>
                    <h5 class="mb-0">
                      {{ showThread?.updated_at | amParseZone | amTimeAgo }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Privasi:</small>
                    <h5 class="mb-0 text-capitalize">
                      {{ showThread?.privacy }}
                    </h5>
                  </div>
                </div>
              </li>
              <li
                class="list-group-item px-0"
                *ngIf="showThread?.contentType === 'jobVacancy'"
              >
                <div class="row align-items-center">
                  <div class="col">
                    <small>Perusahaan:</small>
                    <h5 class="mb-0">{{ showThread?.company_name }}</h5>
                  </div>
                  <div class="col">
                    <small>Gaji Bulanan:</small>
                    <h5 class="mb-0">
                      IDR
                      {{ showThread?.monthly_salary_min.toLocaleString() }} -
                      {{ showThread?.monthly_salary_max.toLocaleString() }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Lokasi:</small>
                    <h5 class="mb-0">
                      {{
                        showThread?.googlePlaceId !== null
                          ? showThread?.googlePlaceId
                          : "Belum ditentukan"
                      }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Ketersediaan:</small>
                    <h5 class="mb-0">
                      {{
                        showThread?.isAvailable === 1
                          ? "Tersedia"
                          : "Tidak Tersedia"
                      }}
                    </h5>
                  </div>
                </div>
              </li>
              <li
                class="list-group-item px-0"
                *ngIf="showThread?.contentType === 'event'"
              >
                <div class="row align-items-center">
                  <div class="col">
                    <small>Dimulai:</small>
                    <h5 class="mb-0">
                      {{
                        showThread?.start_date
                          | amParse: "YYYY-MM-DD"
                          | amDateFormat: "LL"
                      }}, {{ showThread?.start_time }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Selesai:</small>
                    <h5 class="mb-0">
                      {{
                        showThread?.finish_date
                          | amParse: "YYYY-MM-DD"
                          | amDateFormat: "LL"
                      }}, {{ showThread?.finish_time }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Lokasi:</small>
                    <h5 class="mb-0">
                      {{
                        showThread?.googlePlaceId !== null
                          ? showThread?.googlePlaceId
                          : "Belum ditentukan"
                      }}
                    </h5>
                  </div>
                  <div class="col">
                    <small>Ketersediaan:</small>
                    <h5 class="mb-0">
                      {{
                        showThread?.isAvailable === 1
                          ? "Tersedia"
                          : "Tidak Tersedia"
                      }}
                    </h5>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="row justify-content-between py-2">
            <div class="col">
              <h5 class="h4">Diskusi Anggota</h5>
            </div>
          </div>
          <ul *ngIf="replyThread" class="d-block list-group list-group-flush">
            <li *ngIf="isMoreReply" class="list-group-item p-1">
              <a
                class="text-sm text-primary pointer"
                (click)="getReplies(showThread?.id, true)"
                >Lihat diskusi sebelumnya</a
              >
            </li>
            <li
              *ngFor="let rep of replyThread"
              class="list-group-item list-group-item-action px-1"
            >
              <div class="d-flex align-items-first">
                <img
                  (click)="zoomImg(rep?.user?.photo, imgModal)"
                  [src]="env?.SERVER_URL + 'files/' + rep?.user?.photoThumb"
                  onerror="this.src = './assets/img/no-picture.svg'"
                  [alt]="rep?.user?.name"
                  class="avatar"
                />
                <div class="mx-3">
                  <a
                    (click)="openMember(rep?.user, userModal)"
                    class="text-primary pointer font-weight-600 text-sm"
                    >{{ rep?.user?.name }}</a
                  >
                  <small class="ml-2 text-muted">{{
                    rep?.created_at | amParseZone | amTimeAgo
                  }}</small>
                  <p class="text-sm lh-160 mb-0 text-break">
                    {{ rep?.caption }}
                  </p>
                </div>
                <div class="text-right ml-auto">
                  <a
                    (click)="deleteReplies(rep?.id)"
                    class="btn btn-link text-muted"
                    ><i class="far fa-trash-alt"></i
                  ></a>
                </div>
              </div>
            </li>
          </ul>
          <div class="media align-items-center mt-3">
            <img
              (click)="zoomImg(user?.photo, imgModal)"
              alt="Image placeholder"
              [src]="this.env?.FILES_SERVER_URL + user?.photo"
              onerror="this.src = './assets/img/no-picture.svg'"
              class="avatar avatar-sm rounded-circle mr-2"
            />
            <div class="media-body">
              <form (submit)="sendReply()">
                <input
                  [(ngModel)]="replyMessage"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  placeholder="Tulis balasan..."
                  class="form-control form-control-sm input-rounded"
                />
              </form>
            </div>
            <button
              (click)="sendReply()"
              type="button"
              class="btn base-button btn-primary btn-icon-only rounded-circle btn-sm ml-2"
            >
              <span class="btn-inner--icon"
                ><i class="fa fas fa-paper-plane"></i
              ></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'message'" class="card">
        <div class="card-body">
          <h3 class="display-4">Diskusi Umum</h3>
          <div class="general-chat">
            <ul *ngIf="messageList" class="list-group list-group-flush">
              <li *ngIf="isMoreMessage" class="list-group-item p-1">
                <a
                  class="text-sm text-primary pointer"
                  (click)="getMessage(true)"
                  >Lihat diskusi sebelumnya</a
                >
              </li>
              <li
                *ngFor="let mes of messageList"
                class="list-group-item list-group-item-action px-1"
              >
                <div class="d-flex align-items-first">
                  <img
                    (click)="zoomImg(mes?.user?.photo, imgModal)"
                    [src]="env?.SERVER_URL + 'files/' + mes?.user?.photoThumb"
                    onerror="this.src = './assets/img/no-picture.svg'"
                    [alt]="mes?.user?.name"
                    class="avatar"
                  />
                  <div class="mx-3">
                    <a
                      (click)="openMember(mes?.user, userModal)"
                      class="text-primary pointer font-weight-600 text-sm"
                      >{{ mes?.user?.name }}</a
                    >
                    <small class="ml-2 text-muted">{{
                      mes?.created_at | amParseZone | amTimeAgo
                    }}</small>
                    <p class="text-sm lh-160 mb-0 text-break">
                      {{ mes?.caption }}
                    </p>
                  </div>
                  <div class="text-right ml-auto">
                    <a
                      (click)="deleteMessage(mes?.id)"
                      class="btn btn-link text-muted"
                      ><i class="far fa-trash-alt"></i
                    ></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="media align-items-center mt-3">
            <img
              (click)="zoomImg(user?.photo, imgModal)"
              alt="Image placeholder"
              [src]="this.env?.FILES_SERVER_URL + user?.photo"
              onerror="this.src = './assets/img/no-picture.svg'"
              class="avatar avatar-sm rounded-circle mr-2"
            />
            <div class="media-body">
              <form (submit)="sendMessage()">
                <input
                  [(ngModel)]="newMessage"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  placeholder="Tulis balasan..."
                  class="form-control form-control-sm input-rounded"
                />
              </form>
            </div>
            <button
              (click)="sendMessage()"
              type="button"
              class="btn base-button btn-primary btn-icon-only rounded-circle btn-sm ml-2"
            >
              <span class="btn-inner--icon"
                ><i class="fa fas fa-paper-plane"></i
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 order-1">
      <button (click)="openMessage()" class="btn btn-block btn-primary mb-3">
        Diskusi Umum
      </button>
      <div class="card mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Acara Komunitas</h3>
            </div>
            <div class="col-4 text-right">
              <a
                (click)="newThread('event', threadModal)"
                class="btn btn-sm btn-link text-primary"
                >Buat baru</a
              >
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div
            class="list-group infinite-sm"
            infiniteScroll
            [infiniteScrollDistance]="2"
            (scrolled)="loadEvent(true)"
            [scrollWindow]="false"
          >
            <a
              *ngFor="let item of eventList"
              (click)="detailThread('event', item.id)"
              class="list-group-item list-group-item-action py-2 no-border pointer"
            >
              <div class="row align-items-center">
                <div class="col-auto">
                  <img
                    (click)="zoomImg(item?.coverPhoto, imgModal)"
                    class="event-logo"
                    [src]="env?.SERVER_URL + 'files/' + item?.coverPhoto"
                    onerror="this.src = './assets/img/no-picture.svg'"
                    [alt]="item?.title"
                  />
                </div>
                <div class="col ml--2 text-truncate">
                  <h4 class="mb-0">
                    <a
                      (click)="detailThread('event', item.id)"
                      class="text-primary"
                      >{{ item.title }}</a
                    >
                  </h4>
                  <small>{{ item.caption }}</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Karir & Bisnis</h3>
            </div>
            <div class="col-4 text-right">
              <a
                (click)="newThread('jobVacancy', threadModal)"
                class="btn btn-sm btn-link text-primary"
                >Buat Baru</a
              >
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div
            class="list-group infinite-sm"
            infiniteScroll
            [infiniteScrollDistance]="2"
            (scrolled)="loadJob(true)"
            [scrollWindow]="false"
          >
            <a
              *ngFor="let item of jobList"
              (click)="detailThread('job', item.id)"
              class="list-group-item list-group-item-action py-2 no-border pointer"
            >
              <div class="row align-items-center">
                <div class="col-auto">
                  <img
                    (click)="zoomImg(item?.coverPhoto, imgModal)"
                    class="event-logo"
                    [src]="env?.SERVER_URL + 'files/' + item?.coverPhoto"
                    onerror="this.src = './assets/img/no-picture.svg'"
                    [alt]="item?.title"
                  />
                </div>
                <div class="col ml--2 text-truncate">
                  <h4 class="mb-0">
                    <a
                      (click)="detailThread('job', item.id)"
                      class="text-primary"
                      >{{ item.title }}</a
                    >
                  </h4>
                  <small>{{ item.caption }}</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0">Anggota Komunitas</h5>
        </div>
        <div class="card-header">
          <form>
            <div class="form-group mb-0">
              <div
                placeholder="Search"
                class="input-group-lg input-group-flush mb-0"
              >
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text input-rounded br-none">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                    <input
                      #searchMemberInput
                      (keyup.enter)="searchMember(searchMemberInput.value)"
                      type="search"
                      placeholder="Search Anggota"
                      class="form-control input-rounded bl-none"
                      valid="true"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>

          <span *ngIf="searchMemberKeys" class="text-sm"
            >Menampilkan hasil untuk: "{{ searchMemberKeys }}"</span
          >
        </div>
        <div class="card-body p-0">
          <ul
            class="list-group list-group-flush list infinite-sm p-2"
            infiniteScroll
            [infiniteScrollDistance]="2"
            (scrolled)="loadMember()"
            [scrollWindow]="false"
          >
            <li *ngFor="let member of memberList" class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <img
                    (click)="zoomImg(member?.photo, imgModal)"
                    class="avatar rounded-circle"
                    [src]="env?.SERVER_URL + 'files/' + member?.photoThumb"
                    onerror="this.src = './assets/img/no-picture.svg'"
                    [alt]="member?.name"
                  />
                  <!-- <a href="#" class="avatar rounded-circle"><img alt="Image placeholder" src="https://via.placeholder.com/50x50.png"></a> -->
                </div>
                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a
                      class="text-primary pointer"
                      (click)="openMember(member, userModal)"
                      >{{ member?.name }}</a
                    >
                  </h4>
                  <small class="text-capitalize">{{
                    member?.pivot?.role
                  }}</small>
                </div>
                <!-- <div class="col-auto"><button type="button" class="btn btn-sm btn-link text-muted"><i class="far fa-trash-alt"></i></button></div> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #threadModal>
  <div class="modal-header">
    <h5 class="modal-title">
      Buat {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }} baru
    </h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalService.dismissAll()"
    >
      <span aria-hidden="true" class="text-danger">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="threadForm" class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 mb-3">
            <input
              #photoInput
              type="file"
              accept="image/*"
              style="display: none"
              (change)="onPhotoChange($event, 'photo')"
            />
            <label class="form-control-label"
              >Foto
              {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }}</label
            >
            <div class="form-group">
              <div
                class="mx-auto rounded img-container smooth-border pointer wh-150-px"
                (click)="photoInput.click()"
              >
                <img
                  [src]="
                    photoPreview
                      ? photoPreview
                      : env?.SERVER_URL + 'files/' + threadForm?.value?.photo
                  "
                  onerror="this.src = './assets/img/frame.png'"
                  class="w-100 my-auto"
                />
              </div>
              <div
                class="d-flex justify-content-center text-center mt-2"
                *ngIf="photoUploadProgress"
              >
                <ngb-progressbar
                  class="ngb-progress-150-px"
                  type="primary"
                  textType="white"
                  [value]="photoUploadProgress"
                  [showValue]="true"
                >
                </ngb-progressbar>
              </div>
              <div
                class="mx-auto text-center mt-2"
                *ngIf="!photoUploadProgress"
              >
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm w-150-px"
                  *ngIf="threadForm?.value?.photo || photoPreview"
                  (click)="onDeletePhoto('photo')"
                >
                  <i class="fas fa-trash"></i>
                  <span>Hapus</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <label class="form-control-label"
              >Judul
              {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }}</label
            >
            <input
              type="text"
              formControlName="title"
              class="form-control"
              [ngClass]="{
                'is-valid': threadForm?.controls?.title?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.title?.errors
              }"
            />
          </div>
          <div class="col-12 mb-3">
            <label class="form-control-label">Deskripsi</label>
            <textarea
              class="form-control"
              formControlName="caption"
              cols="30"
              rows="3"
              [ngClass]="{
                'is-valid': threadForm?.controls?.caption?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.caption?.errors
              }"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col-6 bl d-flex flex-column justify-content-between">
        <div *ngIf="activeForm === 'Event'" class="row">
          <div class="col-6 mb-3">
            <label class="d-block form-control-label">Tanggal Mulai</label>
            <input
              type="date"
              formControlName="start_date"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.start_date?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.start_date?.errors
              }"
            />
          </div>
          <div class="col-6 pl-3 mb-3">
            <label class="d-block form-control-label">Waktu Mulai</label>
            <input
              type="time"
              formControlName="start_time"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.start_time?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.start_time?.errors
              }"
            />
          </div>
          <div class="col-6 mb-3">
            <label class="d-block form-control-label">Tanggal Selesai</label>
            <input
              type="date"
              formControlName="finish_date"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.finish_date?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.finish_date?.errors
              }"
            />
          </div>
          <div class="col-6 pl-3 mb-3">
            <label class="d-block form-control-label">Waktu Selesai</label>
            <input
              type="time"
              formControlName="finish_time"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.finish_time?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.finish_time?.errors
              }"
            />
          </div>
          <div class="col-12 mb-3">
            <label class="d-block form-control-label">Lokasi</label>
            <input
              type="text"
              formControlName="googlePlaceId"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.googlePlaceId?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.googlePlaceId?.errors
              }"
            />
            <!-- <input type="text" ngxAutocomPlace class="form-control" (selectedPlace)="placeChangedCallback($event)"/> -->
          </div>
          <div class="col-12 mb-3">
            <label class="form-control-label">
              <h4 class="mb-0">
                Privasi
                {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }}
              </h4>
              hanya yang Anggota Komunitas saja yang dapat bergabung ke dalam
              {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }} ini.
            </label>
            <label class="custom-toggle">
              <input
                (change)="
                  threadForm.controls.privacy.value =
                    threadForm?.controls?.privacy?.value === 'general'
                      ? 'community'
                      : 'general'
                "
                type="checkbox"
                [checked]="threadForm?.controls?.privacy?.value === 'community'"
              />
              <span class="custom-toggle-slider rounded-circle"></span>
            </label>
          </div>
        </div>
        <div *ngIf="activeForm === 'Job Vacancy'" class="row">
          <div class="col-12 mb-3">
            <label class="d-block form-control-label">Nama Perusahaan</label>
            <input
              type="text"
              formControlName="company_name"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.company_name?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.company_name?.errors
              }"
            />
          </div>
          <div class="col-6 pl-3 mb-3">
            <label class="d-block form-control-label">Gaji Minimal</label>
            <input
              type="number"
              formControlName="monthly_salary_min"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.monthly_salary_min?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.monthly_salary_min?.errors
              }"
            />
          </div>
          <div class="col-6 mb-3">
            <label class="d-block form-control-label">Gaji Maksimal</label>
            <input
              type="number"
              formControlName="monthly_salary_max"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.monthly_salary_max?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.monthly_salary_max?.errors
              }"
            />
          </div>
          <div class="col-12 mb-3">
            <label class="d-block form-control-label">Lokasi</label>
            <input
              type="text"
              formControlName="googlePlaceId"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  threadForm?.controls?.googlePlaceId?.errors?.length < 1,
                'is-invalid': threadForm?.controls?.googlePlaceId?.errors
              }"
            />
            <!-- <input type="text" ngxAutocomPlace class="form-control" (selectedPlace)="placeChangedCallback($event)"/> -->
          </div>
          <div class="col-12 mb-3">
            <label class="form-control-label">
              <h4 class="mb-0">
                Privasi
                {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }}
              </h4>
              hanya yang Anggota Komunitas saja yang dapat bergabung ke dalam
              {{ activeForm === "Event" ? "Acara" : "Karir & Bisnis" }} ini.
            </label>
            <label class="custom-toggle">
              <input
                (change)="
                  threadForm.controls.privacy.value =
                    threadForm?.controls?.privacy?.value === 'general'
                      ? 'community'
                      : 'general'
                "
                type="checkbox"
                [checked]="threadForm?.controls?.privacy?.value === 'community'"
              />
              <span class="custom-toggle-slider rounded-circle"></span>
            </label>
          </div>
        </div>
        <div class="text-right">
          <button
            class="btn btn-primary"
            (click)="storeThread(activeForm)"
            [disabled]="!threadForm.valid"
          >
            Simpan
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #userModal>
  <div class="modal-header pb-0">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalService.dismissAll()"
    >
      <span aria-hidden="true" class="text-danger">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card card-profile">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <img
              (click)="zoomImg(memberOpen?.photo, imgModal)"
              class="rounded-circle modal-profile-img"
              [src]="env?.SERVER_URL + 'files/' + memberOpen?.photoThumb"
              onerror="this.src = './assets/img/no-picture.svg'"
              [alt]="memberOpen?.name"
            />
          </div>
        </div>
      </div>
      <div class="card-body mt-5">
        <div class="row">
          <div class="col">
            <div class="card-profile-stats d-flex justify-content-center">
              <div class="p-0 m-0 px-1">
                <button
                  (click)="userKick(memberOpen?.id)"
                  class="btn btn-sm btn-outline-secondary no-shadow text-danger"
                >
                  Keluarkan
                </button>
              </div>
              <!-- <div class="p-0 m-0"><button (click)="userBlock(memberOpen?.id,'block')" class="btn btn-sm btn-outline-secondary no-shadow text-warning">Blokir</button></div> -->
              <div class="p-0 m-0">
                <button
                  (click)="userBlock(memberOpen?.id, 'unblock')"
                  class="btn btn-sm btn-outline-secondary no-shadow text-warning"
                >
                  Buka Blokir
                </button>
              </div>
              <div class="p-0 m-0 px-1">
                <button
                  (click)="userMakeAdmin(memberOpen?.id)"
                  class="btn btn-sm btn-outline-secondary no-shadow text-primary"
                >
                  Jadikan Admin
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h5 class="h3">{{ memberOpen?.name }}</h5>
          <div class="h5 font-weight-300">
            {{ memberOpen?.jobTitle }} - {{ memberOpen?.company }}
          </div>
          <!-- <div class="h5 mt-4"></div> -->
          <!-- <div>University of Computer Science </div> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #imgModal>
  <div class="modal-body">
    <img
      [src]="env?.SERVER_URL + 'files/' + imgOpen"
      onerror="this.src = './assets/img/no-picture.svg'"
      alt="img-zoom"
      class="img-fluid"
    />
  </div>
</ng-template>
