<nav
  class="navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/admin/dashboard']"> -->
    <a
      class="navbar-brand pt-0"
      routerLinkActive="active"
      [routerLink]="['/admin/community-management/community']"
    >
      <img
        src="./assets/img/brand/logo-admin.png"
        class="navbar-brand-img"
        alt="..."
      />
    </a>

    <ul class="nav align-items-center d-md-none">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img
                alt="Image placeholder"
                [src]="this.env?.FILES_SERVER_URL + user?.photo"
                onerror="this.src = './assets/img/no-picture.svg'"
              />
            </span>
          </div>
        </a>

        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <!-- <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div> -->
          <a
            routerLinkActive="active"
            [routerLink]="['/admin/user-profile']"
            class="dropdown-item"
          >
            <i class="fas fa-user"></i>
            <span>Ubah Profil</span>
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="onLogOut()" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Keluar</span>
          </a>
        </div>
      </li>
    </ul>

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <!-- <a routerLinkActive="active" [routerLink]="['/dashboard']"> -->
            <a
              routerLinkActive="active"
              [routerLink]="['/admin/community-management/community']"
            >
              <img src="./assets/img/brand/logo-admin.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <form class="mt-4 mb-3 d-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input
            type="search"
            class="form-control form-control-rounded form-control-prepended"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>

      <h6 class="navbar-heading text-muted">Reports</h6>

      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/user-management/user']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-chart-bar"></i>
            Reports
          </a>
        </li>
      </ul>

      <!-- <ul class="navbar-nav">
                <li *ngFor="let menuItem of menuItems" [class]="menuItem.class + 'nav-item'">
                    <a routerLinkActive="active text-primary" [routerLink]="[menuItem.path]" class="nav-link">
                        <i [class]="menuItem.icon"></i> {{ menuItem.title }}
                    </a>
                </li>
            </ul> -->

      <hr class="my-3">
      <h6 class="navbar-heading text-muted">Manajemen Komunitas</h6>

      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/community-management/category']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-list"></i> Kategori
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/community-management/community']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-users"></i> Komunitas
          </a>
        </li>
      </ul>

      <hr class="my-3" />
      <h6 class="navbar-heading text-muted">User Management</h6>

      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/user-management/user']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-users"></i>
            User
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/user-management/role']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-user-tag"></i>
            Role
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/user-management/module']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-tasks"></i>
            Module
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin/user-management/permission']"
            routerLinkActive="active text-primary"
          >
            <i class="fas fa-tasks"></i>
            Hak Akses
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
