import { Injectable } from '@angular/core';

@Injectable({ providedIn: 'root' })
export class Environment {
    mode = 'dev';
    APP_VERSION = '1.0.0';

    SERVER_URL = '';
    WEBAPP_URL = '';

    constructor() {
        switch (this.mode) {
            case 'dev':
                this.SERVER_URL = 'http://localhost:8000/';
                this.WEBAPP_URL = 'http://localhost:4200/';

                break;
        }
    }


}